/*********************** CSS UTILI ***********************/
.bg-blue {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-l-blue {
    background-color: #3A546D;
}

.my-btn {
    border: 1px solid white;
    color: white;
}

.my-color {
    color: #1ABC9C;
}

/************** CSS MAIN **************/
#start-bootstrap,
#about,
footer {
    color: white;
}

p {
    margin: 0;
}